<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="footer-container">
        <a class="navbar-brand nav-bar-logo" href="#">
          <img src={{logo}} alt="logo">
        </a>
          <ul class="nav-footer">
            <li class="nav-item">
              <a class="footer-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="footer-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="footer-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</footer>