@import './header.scss';
@import './normalize.scss';
@import './footer.scss';
@import './form.scss';
@import './spinner.scss';
@import './aside.scss';
@import './products.scss';
@import './productPage.scss';
@import './cart.scss';

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper{
  flex: 1 1 auto;
  margin: 20px 0;
}

.finded-text{
  font-weight: 900;
  background-color: #bebebe;
}

